

:root {
    --primary: #66c2ff;
    --primary-dark: #0077cc;
    --secondary: #cbd1e1;
    --tertiary: #e5e9f2;
    --bg: #f1f3f9;
    --dark: #1e253b;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--bg);
    color: var(--dark);
    line-height: 1.6;
    font-family: system-ui, sans-serif;
}

/* Main page */
main {
    width: 100%;
    margin: 0 auto;
}

/* Page headings */
h1 {
    margin: 1.5rem auto;
    color: var(--dark);
    text-align: center;
}

h2,
h3 {
    margin: 1rem 0;
    color: var(--dark);
    text-align: center;
}


.container {
    padding: 10px;

    border: 1px solid var(--secondary);
    border-radius: 12px;

    background: white;
    box-shadow: 2px 4px 0px var(--tertiary);
}


@media (max-width: 600px) {
    body {
        padding: 0;
    }
}
